# Google Auth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URL=http://localhost:8084/TA-management/auth/google/callback

# Security
JWT_SECRET=your_jwt_secret

# External APIs
GOOGL_CALENDAR_KEY=your_google_calendar_api_key
BOT_HOLIDAYS_KEY=your_bot_holidays_api_key
BOT_HOLIDAYS_URL=https://gateway.api.bot.or.th/financial-institutions-holidays/

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5434
DB_USER=admin
DB_PASSWORD=admin1234
DB_NAME=mydatabase

# Test Database Configuration
DB_TEST_HOST=localhost
DB_TEST_PORT=5436
DB_TEST_USER=test_user
DB_TEST_PASSWORD=test_password
DB_TEST_NAME=ta_management_test

# Application
FRONTEND_URL=http://localhost:3000/login

# Email Service (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

# Discord Integration
DISCORD_CLIENT_URL=http://localhost:8081
GUILD_ID=your_discord_guild_id

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
